* {
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-around; }
  header .hea-le {
    width: 30%;
    height: 100%;
    float: left; }
    header .hea-le img {
      width: 6.86rem;
      height: 2.8rem;
      margin-top: 0.6rem;
      margin-left: 0.64rem; }
  header .hed-ce {
    font-size: 1.2rem;
    line-height: 4rem;
    text-align: center;
    margin-left: 2.2rem; }
  header .hea-ri {
    width: 40%;
    height: 100%;
    float: left; }
  header ul {
    width: 100%;
    height: 100%;
    list-style: none; }
    header ul li {
      width: 20.33%;
      height: 100%;
      float: right;
      text-align: center; }
      header ul li span {
        font-size: 101rem;
        color: #999999; }
      header ul li p {
        font-size: 0.7rem;
        color: #999999; }
      header ul li .p1 {
        margin-top: 0.85rem; }

.zuozhe {
  position: relative;
  z-index: 10; }
  .zuozhe li {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    border-bottom: 1px solid #F4F4F4;
    background-color: white; }
    .zuozhe li img {
      float: left;
      width: 4rem;
      height: 4rem;
      margin-left: 1rem; }
    .zuozhe li .text {
      float: left;
      font-size: 0.9rem;
      color: #000000;
      padding-left: 0.75rem; }
    .zuozhe li .text1 {
      float: left;
      font-size: 0.6rem;
      color: #FFFFFF;
      margin-left: 0.55rem;
      background-color: #39C893;
      border-radius: 5px; }
    .zuozhe li .person {
      float: right;
      font-size: 0.7rem;
      color: #feb505; }
      .zuozhe li .person span {
        color: #999999;
        margin-right: 1rem; }
    .zuozhe li .x {
      margin-left: 1rem;
      padding-top: 1.4rem;
      font-size: 0.7rem;
      color: #000000;
      padding-left: 4.6rem; }
      .zuozhe li .x span {
        color: #999999; }
    .zuozhe li .x1 {
      margin-left: 1rem;
      margin-top: -0.775rem;
      font-size: 0.7rem;
      color: #000000;
      padding-left: 8.25rem; }
      .zuozhe li .x1 span {
        color: #999999; }
    .zuozhe li .x2 {
      margin-left: 1rem;
      margin-top: -0.775rem;
      font-size: 0.7rem;
      color: #000000;
      padding-left: 12.25rem; }
      .zuozhe li .x2 span {
        color: #999999; }
    .zuozhe li .shanch {
      margin-left: 1rem;
      font-size: 0.7rem;
      color: #000000;
      padding-left: 4.7rem;
      padding-top: 0.5rem; }
      .zuozhe li .shanch span {
        color: #999999; }
  .zuozhe .lists-first {
    margin-left: 0.35rem; }

.tb {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 20;
  margin-top: 0.5rem; }
  .tb .iconfont {
    width: 3.3rem;
    height: 3.3rem;
    line-height: 3.3rem;
    border: 1px solid #1B9AF7;
    border-radius: 50%;
    text-align: center;
    font-size: 1.93rem; }
  .tb .icon-share {
    border: 1px solid #FEB505; }
  .tb p {
    font-size: 0.8rem;
    margin-top: 0.77rem; }
  .tb .p1 {
    color: #1B9AF7; }
  .tb .p2 {
    color: #FEB505; }
  .tb .p3 {
    color: #fe8864; }
  .tb div:nth-child(1) {
    color: #1B9AF7; }

p {
  margin-top: 2rem;
  color: black;
  margin-left: 0.5rem; }
  p span {
    font-size: 1.2rem;
    color: gray; }

.content5 {
  width: 100%; }
  .content5 p {
    margin-top: 1.07rem;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    margin-bottom: 1.6rem; }
  .content5 span {
    width: 5rem;
    height: 4.2rem;
    color: #00BE9C; }
  .content5 .inner {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 0.67rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem; }
    .content5 .inner div img {
      width: 11.67rem;
      height: 7.833rem; }
    .content5 .inner div p {
      font-size: 1.2rem;
      margin-top: 0.8334rem;
      margin-bottom: 0.67rem; }
    .content5 .inner div div {
      font-size: 0.8rem;
      color: gray; }

.footer {
  margin-left: 1rem;
  margin-right: 1rem; }
  .footer p {
    font-size: 0.933rem;
    color: #333;
    margin-top: 1.2rem; }

.fuwu {
  text-align: center; }
  .fuwu p {
    margin-top: 1.8rem;
    color: #55A532;
    display: flex;
    justify-content: center;
    font-size: 0.933rem; }
    .fuwu p span {
      font-size: 1.4rem;
      color: #333333; }
  .fuwu ul {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around; }
  .fuwu img {
    margin-top: 0.5rem; }
