*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    .hea-le{
        width: 30%;
        height: 100%;
        float: left;
        img{
            width: 6.86rem;
            height: 2.8rem;
            margin-top: 0.6rem;
            margin-left: 0.64rem;
        }
    }
    .hed-ce{
        font-size: 1.2rem;
        line-height: 4rem;
        text-align: center;
        margin-left: 2.2rem;
    }
    .hea-ri{
        width: 40%;
        height: 100%;
        float: left;
    }
    ul{
        width: 100%;
        height: 100%;
        list-style: none;
//      display: flex;
//      justify-content: space-around;
        li{
            width:20.33%;
            height: 100%;
            float: right;
            text-align: center;
            span{
                font-size:101rem;
                color: #999999;
            }
            p{
                font-size: 0.7rem;
                color: #999999;
            }
            .p1{
                margin-top: 0.85rem;
            }
        }
    }
}
.content{
   width:100%;
   .nav{
       width: 100%;
       height:3.33rem;
       line-height: 3.33rem;
       display: flex;
       justify-content: space-around;
       font-size: 1.2rem;
       border: 1px solid #F4F4F4;
       text-align: center;
       div{
           border-right:1px solid #F4F4F4 ;
           text-align: center;
       }
       span{
           margin-left: 1rem;
           font-size:0.8334rem;
           color: #999;
       }
   }
   .inner{
       width: 100%;
       display: flex;
       justify-content: space-around;
       margin-top: 0.67rem;
//     margin-left: 0.67rem;
//     margin-right: 0.67rem;
       div{
//        width: 47%;
          img{
              width:11.67rem;
              height: 7.833rem;
          }
          p{
              font-size: 1.2rem;
              margin-top: 0.8334rem;
              margin-bottom: 0.67rem;
          }
          div{
              font-size:0.67rem;
          }
       }
   }
}
.btn{
    width:95%;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    text-align: center;
    button{
       color: white;
       background: #00BE9C;
       font-style: 1.2rem;
       height: 2.7334rem;
       width: 30%;
       border: 1px solid #EAEAEA;
    }
    span{
        width: 30%;
        display: inline-block;
        text-align: center;
    }
}
.footer{
    margin-left:1rem;
    margin-right:1rem;
    p{
    font-size: 0.933rem;
    color: #333;
    margin-top:1.2rem;
    }
}
.fuwu{
//  margin-left: 0.9rem;
//  margin-right: 0.9rem;
    text-align: center;
    p{
        margin-top: 1.8rem;
        color:#55A532 ;
        display: flex;
        justify-content: center;
        font-size:0.933rem;
        span{
            font-size: 1.4rem;
            color: #333333;
        }
    }
    ul{
        font-size: 1.2rem;
        display: flex;
        justify-content: space-around;
    }
    
    footer{
        width: 100%;
        height: 5.3rem;
        display: flex;
        background-color: #000000; opacity: 0.8;
        line-height: 5.3rem;
        img:nth-of-type(1){
            width:1.8rem;
            height:1.8rem;
        }
        img:nth-of-type(2){
            height:5rem;
            width:12rem;
            margin-left:0.9rem;
            margin-top: 0.6rem;
        }
        span{
            width:5.83rem;
            height:1.67rem;
            background-color: #FEB605;
            color: white;
            border-radius: 15px;
            text-align: center;
            margin-top: 1.50rem;
            line-height:1.67rem;
            margin-left: 1rem;
        }
    }
}