* {
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-around; }
  header .hea-le {
    width: 30%;
    height: 100%;
    float: left; }
    header .hea-le img {
      width: 6.86rem;
      height: 2.8rem;
      margin-top: 0.6rem;
      margin-left: 0.64rem; }
  header .hed-ce {
    font-size: 1.2rem;
    line-height: 4rem;
    text-align: center;
    margin-left: 2.2rem; }
  header .hea-ri {
    width: 40%;
    height: 100%;
    float: left; }
  header ul {
    width: 100%;
    height: 100%;
    list-style: none; }
    header ul li {
      width: 20.33%;
      height: 100%;
      float: right;
      text-align: center; }
      header ul li span {
        font-size: 101rem;
        color: #999999; }
      header ul li p {
        font-size: 0.7rem;
        color: #999999; }
      header ul li .p1 {
        margin-top: 0.85rem; }

img {
  width: 100%; }

h4 {
  text-align: center;
  margin-top: 0.5rem; }

.slide {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5rem; }
  .slide div {
    width: 33%;
    height: 2px;
    background: #F4F4F4; }
  .slide img {
    width: 15%; }

p {
  margin-top: 1.07rem;
  font-size: 0.93rem;
  margin-bottom: 1.27rem; }

.img {
  margin-top: 0.5rem; }

.fuwu {
  text-align: center; }
  .fuwu p {
    margin-top: 1.8rem;
    color: #55A532;
    display: flex;
    justify-content: center;
    font-size: 0.933rem; }
    .fuwu p span {
      font-size: 1.4rem;
      color: #333333; }
  .fuwu ul {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around; }
  .fuwu img {
    margin-top: 0.5rem; }
