*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    .hea-le{
        width: 30%;
        height: 100%;
        float: left;
        img{
            width: 6.86rem;
            height: 2.8rem;
            margin-top: 0.6rem;
            margin-left: 0.64rem;
        }
    }
    .hed-ce{
        font-size: 1.2rem;
        line-height: 4rem;
        text-align: center;
        margin-left: 2.2rem;
    }
    .hea-ri{
        width: 40%;
        height: 100%;
        float: left;
    }
    ul{
        width: 100%;
        height: 100%;
        list-style: none;
//      display: flex;
//      justify-content: space-around;
        li{
            width:20.33%;
            height: 100%;
            float: right;
            text-align: center;
            span{
                font-size:101rem;
                color: #999999;
            }
            p{
                font-size: 0.7rem;
                color: #999999;
            }
            .p1{
                margin-top: 0.85rem;
            }
        }
    }
}
img{
    width: 100%;
}
h4{
    text-align: center;
    margin-top: 0.5rem;
}
.slide{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.5rem;
    div{
        width: 33%;
        height:2px;
        background:#F4F4F4 ;
    }
    img{
        width:15%;
    }
}
p{
    margin-top:1.07rem;
    font-size: 0.93rem;
    margin-bottom: 1.27rem;
}
.img{
    margin-top: 0.5rem;
}
.fuwu{
//  margin-left: 0.9rem;
//  margin-right: 0.9rem;
    text-align: center;
    p{
        margin-top: 1.8rem;
        color:#55A532 ;
        display: flex;
        justify-content: center;
        font-size:0.933rem;
        span{
            font-size: 1.4rem;
            color: #333333;
        }
    }
    ul{
        font-size: 1.2rem;
        display: flex;
        justify-content: space-around;
    }
    img{
        margin-top: 0.5rem;
    }
 } 