* {
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-around; }
  header .hea-le {
    width: 30%;
    height: 100%;
    float: left; }
    header .hea-le img {
      width: 6.86rem;
      height: 2.8rem;
      margin-top: 0.6rem;
      margin-left: 0.64rem; }
  header .hed-ce {
    font-size: 1.2rem;
    line-height: 4rem;
    text-align: center;
    margin-left: 2.2rem; }
  header .hea-ri {
    width: 40%;
    height: 100%;
    float: left; }
  header ul {
    width: 100%;
    height: 100%;
    list-style: none; }
    header ul li {
      width: 20.33%;
      height: 100%;
      float: right;
      text-align: center; }
      header ul li span {
        font-size: 101rem;
        color: #999999; }
      header ul li p {
        font-size: 0.7rem;
        color: #999999; }
      header ul li .p1 {
        margin-top: 0.85rem; }

img {
  width: 100%; }

.logo {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-around;
  margin-top: 1.2rem;
  text-align: center; }
  .logo div {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: #00BE9C;
    text-align: center; }
    .logo div .iconfont {
      color: white;
      font-size: 2.33rem;
      text-align: center; }
    .logo div p {
      width: 10rem;
      margin-top: 1.07rem;
      font-size: 0.8rem; }

.content {
  width: 100%;
  height: 13rem;
  background: #F4F4F4; }
  .content img {
    width: 40%;
    margin-top: 0.8334rem;
    margin-left: 7rem; }
  .content p {
    text-align: center; }

.footer {
  margin-left: 1rem;
  margin-right: 1rem; }
  .footer p {
    font-size: 0.933rem;
    color: #333;
    margin-top: 1.2rem; }

.fuwu {
  text-align: center; }
  .fuwu p {
    margin-top: 1.8rem;
    color: #55A532;
    display: flex;
    justify-content: center;
    font-size: 0.933rem; }
    .fuwu p span {
      font-size: 1.4rem;
      color: #333333; }
  .fuwu ul {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around; }
  .fuwu img {
    margin-top: 0.5rem; }
