* {
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-around; }
  header .hea-le {
    width: 30%;
    height: 100%;
    float: left; }
    header .hea-le img {
      width: 6.86rem;
      height: 2.8rem;
      margin-top: 0.6rem;
      margin-left: 0.64rem; }
  header .hed-ce {
    font-size: 1.2rem;
    line-height: 4rem;
    text-align: center;
    margin-left: 2.2rem; }
  header .hea-ri {
    width: 40%;
    height: 100%;
    float: left; }
  header ul {
    width: 100%;
    height: 100%;
    list-style: none; }
    header ul li {
      width: 20.33%;
      height: 100%;
      float: right;
      text-align: center; }
      header ul li span {
        font-size: 101rem;
        color: #999999; }
      header ul li p {
        font-size: 0.7rem;
        color: #999999; }
      header ul li .p1 {
        margin-top: 0.85rem; }

.content {
  width: 100%; }
  .content .con1 {
    width: 100%; }
    .content .con1 img {
      width: 95%;
      margin-left: 0.5rem; }
  .content .c1 {
    widows: 100%;
    display: flex;
    margin-top: 1rem;
    align-items: center; }
    .content .c1 .div1 {
      width: 75%;
      margin-left: 0.5rem;
      font-size: 1.2rem; }
      .content .c1 .div1 .p1 {
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: grey; }
        .content .c1 .div1 .p1 span {
          color: #FF4351; }
    .content .c1 .div2 {
      width: 7rem;
      height: 2.67rem;
      line-height: 2.67rem;
      background: #FF4351;
      color: white;
      text-align: center;
      border-bottom-left-radius: 1.5rem;
      border-top-left-radius: 1.5rem; }

.footer {
  margin-left: 1rem;
  margin-right: 1rem; }
  .footer p {
    font-size: 0.933rem;
    color: #333;
    margin-top: 1.2rem; }

.fuwu {
  text-align: center; }
  .fuwu p {
    margin-top: 1.8rem;
    color: #55A532;
    display: flex;
    justify-content: center;
    font-size: 0.933rem; }
    .fuwu p span {
      font-size: 1.4rem;
      color: #333333; }
  .fuwu ul {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around; }
  .fuwu footer {
    width: 100%;
    height: 5.3rem;
    display: flex;
    background-color: #000000;
    opacity: 0.8;
    line-height: 5.3rem; }
    .fuwu footer img:nth-of-type(1) {
      width: 1.8rem;
      height: 1.8rem; }
    .fuwu footer img:nth-of-type(2) {
      height: 5rem;
      width: 12rem;
      margin-left: 0.9rem;
      margin-top: 0.6rem; }
    .fuwu footer span {
      width: 5.83rem;
      height: 1.67rem;
      background-color: #FEB605;
      color: white;
      border-radius: 15px;
      text-align: center;
      margin-top: 1.50rem;
      line-height: 1.67rem;
      margin-left: 1rem; }
